* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg,
            #E0E0E0,
            /* Lighter Grey */
            #000000,
            /* Black */
            #FFFFFF,
            /* White */
            #404040,
            /* Dark Grey */
            #ffffff
            /* Light Grey */
        );
    background-size: 400% 400%;
    animation: gradient 10s infinite linear;
}

.everything {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.frame {
    background-size: cover;
    background-position: center;
    width: 20rem;
    height: 20rem;
    border: solid rgb(100, 100, 100) 5px;
    border-radius: 10px;
    margin-top: 2.5vh;
    transition: background-image 0.25s ease-in-out;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0px;
    height: 00px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.buttons {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    background: linear-gradient(135deg,
            #292929,
            #ffffff,
            #656565);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
        4px 4px 8px rgba(134, 134, 134, 0.2),
        6px 6px 15px rgba(216, 216, 216, 0.2);
}

h3 {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    transition: opacity 0.2s ease-in-out;
    padding: 10px;
    background: linear-gradient(135deg,
            #292929,
            #ffffff,
            #000000);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgba(199, 199, 199, 0.2),
        4px 4px 10px rgba(0, 0, 0, 0.2),
        6px 6px 15px rgba(0, 0, 0, 0.2);
}

.backward {
    rotate: 180deg;
}

button:active {
    transform: scale(0.8);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}